html{
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #B396FF;
}

.box{
    width: 100%;
}

.box .text{
    text-align: center;
    font-size: 3rem;
    color: #fff;
    margin-top: 2rem;
}

.box .text:nth-child(1){
    margin-top: 50%;
}